body {
    background-color: #CFF5E7;
    font-size: 18px;
    font-style: italic;
}
hr {
    background-color: white;
    border-style:inset;
    border-color:rgb(2, 2, 2);
    border-width: 5px;
    height: none;
    width: 20%;
}
h1{
    color: #59C1BD;
}
h3{
    color: #59C1BD;
}
h2{
    color: #59C1BD;
}
img{
    height: 225px;
}