*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}

#hero{
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    min-height: 600px;
}